/.idea/.gitignore
/src/config.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vcs.xml
/.idea/volga-it2025-halffinal.iml
/src/YOLO/test/dataset/img.jpg
/src/YOLO/test/dataset/img (2).jpg
/src/YOLO/test/dataset/img (3).jpg
/src/YOLO/test/dataset/img (4).jpg
/src/YOLO/test/dataset/img (5).jpg
/src/YOLO/test/dataset/img (6).jpg
/src/YOLO/test/dataset/img (7).jpg
/src/YOLO/test/dataset/img (8).jpg
/src/YOLO/test/dataset/img (9).jpg
/src/YOLO/test/dataset/img (10).jpg
/src/YOLO/test/dataset/img (11).jpg
/src/YOLO/test/dataset/img (12).jpg
/src/YOLO/test/dataset/img (13).jpg
/src/YOLO/test/dataset/img (14).jpg
/src/YOLO/test/dataset/img (15).jpg
/src/YOLO/test/dataset/img (16).jpg
/src/YOLO/test/dataset/img (17).jpg
/src/YOLO/test/dataset/img (18).jpg
/src/YOLO/test/dataset/img (19).jpg
/src/YOLO/test/dataset/img (20).jpg
